<td> {{id}} </td>
<td> {{name}} </td>
<td> {{lastName}} </td>
<td> {{identification}} </td>
<td> {{sex}} </td>
<td> {{city}} </td>
<td><input type="button" class="btn btn-default edit" value="Editar"></td>